/* ____________ BASE CONFIG __________________________________________________________________ */

body,
html {
  padding: 0px;
  margin: 0px;
}

body * {
  padding: 0px;
  margin: 0px;
}



/* ____________ HEADER __________________________________________________________________ */

/* entire header including logo and title */
header {
  background-color: #4CBB17;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
}

/* left side of the header, container of logo and title */
#header-left {
  display: flex;
  align-items: center;
}

/* logo at header navigation bar */
#header-logo {
  width: 100px;
}

/* website title */
#header-title {
  font-size: 42px;
}

#header-menu {
  display: flex;
}

/* each menu entry */
.menu-item {
  border-radius: 42px;
  font-size: 20px;
  border: 2px solid black;
  margin-right: 20px;
  background-color: orange;
}
.menu-item:hover {
  background-color: palevioletred;
}

/* link inside menu item */
.menu-item a {
  color: black;
  display: block;
  padding: 10px 20px;
}

.sub-menu {
  display: none;
  border-radius: 20px;
  background-color: palevioletred;
}

.sub-menu li:hover {
  border-radius: 20px;
  background-color: rgb(169, 85, 113);
}

.sub-menu a {
  white-space: nowrap;
}

/* show submenu when hover over menu-entry */
.menu-item:hover .sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  right: 0px;
  border: 2px solid black;
}









/* ____________ FOOTER __________________________________________________________________ */
/* no decorations for entries */
footer li,a {
  list-style: none;
  text-decoration: none;
}

/* conatiner for items */
.navbar_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  padding: 12px;
}

/* items of navbart */
.navbar_footer li a {
  font-size: 18px;
  color: #333333;
  padding: 5px 10px;
}

/* when hovered over item in navbar */
.navbar_footer li:hover a {
  color: black;
  background-color: palevioletred;
  border-radius: 6px;
}