/* ____________ BASE CONFIG __________________________________________________________________ */

body,
html {
  padding: 0px;
  margin: 0px;
}

body * {
  padding: 0px;
  margin: 0px;
}

#page_container {
  position: relative;
  min-height: 100vh;
}










/* ____________ UTIL CLASSES __________________________________________________________________ */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}









/* ____________ HEADER __________________________________________________________________ */

/* entire header including logo and title */
header {
  background-color: #4CBB17;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
}

/* left side of the header, container of logo and title */
#header-left {
  display: flex;
  align-items: center;
}

/* logo at header navigation bar */
#header-logo {
  width: 100px;
}

/* website title */
#header-title {
  font-size: 42px;
}

#header-menu {
  display: flex;
}

/* each menu entry */
.menu-item {
  border-radius: 42px;
  font-size: 20px;
  border: 2px solid black;
  margin-right: 20px;
  background-color: orange;
}

.menu-item:hover {
  background-color: palevioletred;
}

/* link inside menu item */
.menu-item a {
  color: black;
  display: block;
  padding: 10px 20px;
}

.sub-menu {
  display: none;
  border-radius: 20px;
  background-color: palevioletred;
}

.sub-menu li:hover {
  border-radius: 20px;
  background-color: rgb(169, 85, 113);
}

.sub-menu a {
  white-space: nowrap;
}

/* show submenu when hover over menu-entry */
.menu-item:hover .sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  right: 0px;
  border: 2px solid black;
}









/* ____________ FOOTER __________________________________________________________________ */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* no decorations for entries */
footer li,
a {
  list-style: none;
  text-decoration: none;
}

/* conatiner for items */
.navbar-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  padding: 12px;
}

/* items of navbart */
.navbar-footer li a {
  font-size: 18px;
  color: #333333;
  padding: 5px 10px;
}

/* when hovered over item in navbar */
.navbar-footer li:hover a {
  color: black;
  background-color: palevioletred;
  border-radius: 6px;
}













/* ____________ MAIN SHIPPER __________________________________________________________________ */
#overview-headline {
  margin-top: 20px;
}

#overview {
  margin: 10px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 100px;
  gap: 30px 10px;
}

.order-card {
  border-radius: 20px;
  width: 30%;
  height: 20vh;
  border: 2px solid black;
  box-shadow: 0px 3px 6px;
  background-color: rgb(242, 242, 242);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-card:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  box-shadow: 0px 6px 12px;
  background-color: rgb(212, 212, 212);

}

/* --------- TABLET TWEAKS ----------- */
@media only screen and (max-width: 1023px) {
  .order-card {
    width: 45%;
  }
}


/* --------- SMARTPHONE TWEAKS ----------- */
@media only screen and (max-width: 767px) {
  .order-card {
    width: 95%;
  }
}
